<main>
  <section class="actions">
    <mat-card class="action-buttons">
      <h1>Action buttons</h1>
      <div>
        <a href="#"
           target="_blank">
          <button mat-raised-button color="primary">
            Open new tab
          </button>
        </a>
        <a href="#"
           (click)="closeAllTabs()">
          <button mat-raised-button color="warn">
            Close all tabs
          </button>
        </a>
      </div>
    </mat-card>
  </section>
  <section class="data">
    <mat-card class="random-number">
      <h3>Random number is:</h3>
      <span>{{ randomNumber }}</span>
    </mat-card>
    <mat-card class="pages-counter">
      <h3>The number of opened tabs is:</h3>
      <span>{{ openedPagesCounter }}</span>
    </mat-card>
  </section>
</main>

